<mat-toolbar>
  <span class="flex content-between items-center">
    <a [routerLink]="'/'"><img src="assets/logo.svg" /></a>
    <span class="">
      <a mat-button [routerLink]="'planer'">REISEPLANER</a>
      <a mat-button href="https://www.reisigo.com/trips" target="_blank">REISE FINDEN</a>
      <a mat-button href="https://www.reisigo.com/trips/plan" target="_blank">REISE ORGANISIEREN</a>
      <a mat-button href="https://www.reisigo.com/info/about-us" target="_blank">ÜBER UNS</a>
    </span>
  </span>
</mat-toolbar>
