:host {
  display: contents;
}

.selected::after {
  content: '';
  position: absolute;
  top: 0px; /* Adjust the values as needed */
  right: 0px; /* Adjust the values as needed */
  bottom: 0px; /* Adjust the values as needed */
  left: 0px; /* Adjust the values as needed */
  border: 2px solid #00f; /* Border color */
  border-radius: 5px; /* Adjust the border radius as needed */
}
